.solar {
  font-family: "earthorbiter";
  /* height: 100vh; */
  width: 100%;
  background: #181818;
  color: #bebebe;
  /* overflow: hidden; */
}

.solar .row {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 10rem;
  /* height: 100%; */
}

/* SOLAR CIRCLE */
.space-description {
  height: 100%;
}

.space-information {
  display: flex;

  flex-direction: column;
  padding: 5rem;
}
.ellipse-container {
  display: flex;
  justify-content: center;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  /* top: 7rem; */
}

.ellipse-container img {
  background-color: #fff;
  width: 850px;
  /* height: 250px; */
}

.ellipse-container .greeting {
  position: relative;
  top: 14rem;
  left: -7rem;
  right: 0;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 4rem;
  font-size: 4rem;
  font-weight: 400;
  opacity: 0.5;
}

.ellipse-container .greeting:after {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #0c383e;
  position: relative;
  top: -0.65rem;
  left: -5.05rem;
}

.ellipse {
  border-radius: 50%;
  position: absolute;
  top: 0;
  border-style: solid;
}

.ellipse__outer--thin {
  width: 99.8%;
  height: 99.5%;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.1);
  animation: ellipseOrbit 15s ease-in-out infinite;
}

.ellipse__outer--thin:after {
  content: "";
  background-image: url("../../assets/images/background-travel.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 0;
  left: 1rem;
  bottom: 0;
  right: 0;
  width: 90%;
  color: #fff;
  position: absolute;
  opacity: 1;
}

.ellipse__outer--thick {
  width: 99.5%;
  height: 99.5%;
  border-color: #fff transparent;
  border-width: 2px;
  transform: rotate(-45deg);
  animation: ellipseRotate 15s ease-in-out infinite;
}

.ellipse__orbit {
  width: 2.5rem;
  height: 2.5rem;
  border-width: 2px;
  border-color: #fff;
  top: -0.4rem;
  right: 6.75rem;
}

.ellipse__orbit:after {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes ellipseRotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes ellipseOrbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
