@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.solar {
  font-family: "earthorbiter";
  background: #181818;
  color: #bebebe;
  overflow: hidden;
  padding-top: 7rem;
}

.solar h1 {
  display: flex;
  justify-content: center;
  padding-bottom: 10rem;
  font-size: 3.5rem;
}

.solar h2 {
  color: #fff;
}

.solar p {
  font-family: "Roboto", sans-serif;
}

.solar .row {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 10rem;
  /* height: 100%; */
}

/* SOLAR CIRCLE */
.space-description {
  height: 100%;
}

.space-information {
  display: flex;

  flex-direction: column;
  padding: 1rem;
}

.space-information .planet-description {
  width: 100%;
}
.ellipse-container {
  display: flex;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  /* top: 7rem; */
}

.ellipse-container img {
  position: absolute;
  top: 1.2rem;
  width: 200px;
  height: 200px;
  background: transparent;
}

.ellipse-container .greeting {
  position: relative;
  top: 10rem;
  left: -7rem;
  right: 0;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 2rem;
  font-weight: 400;
  opacity: 0.5;
  z-index: 2;
}

.ellipse {
  border-radius: 50%;
  position: absolute;
  top: 0;
  border-style: solid;
}

.ellipse__outer--thin {
  width: 99.8%;
  height: 99.5%;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.1);
  animation: ellipseOrbit 15s ease-in-out infinite;
}

.ellipse__outer--thin:after {
  content: "";
  background-image: url("../../assets/images/background-travel.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 0;
  left: 1.2rem;
  bottom: 0;
  right: 0;
  width: 85%;
  color: #fff;
  position: absolute;
  opacity: 0.5;
}

.ellipse__outer--thick {
  width: 99.5%;
  height: 99.5%;
  border-color: #fff transparent;
  border-width: 2px;
  transform: rotate(-45deg);
  animation: ellipseRotate 15s ease-in-out infinite;
}

.ellipse__orbit {
  width: 2.5rem;
  height: 2.5rem;
  border-width: 2px;
  border-color: #fff;
  top: -1.3rem;
  right: 6.75rem;
  animation: orbitPulse 1s ease-in-out infinite;
}

.ellipse__orbit:after {
  content: "";
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@keyframes orbitPulse {
  0% {
    box-shadow: 0 0 0 0 #e9e9e990;
  }
  100% {
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);
  }
}

@keyframes ellipseRotate {
  0% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}

@keyframes ellipseOrbit {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
