header {
  font-family: "earthorbiter";
}

header .logo {
  color: #fff;
  font-size: 2.5rem;
  margin-left: 1rem;
  z-index: 2;
  /* padding: 2rem; */
  /* margin: 0rem; */
}

header ul li a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 100;
}

header ul li a:hover {
  color: grey;
}

header button i {
  font-size: 30px;
  color: whitesmoke;
}

.navbar-nav {
  position: fixed;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
  display: flex;
  align-items: center;
  z-index: 10;

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.8s;
}

.nav-black {
  z-index: 10;
  background-color: #181822;
  border-bottom: 1px solid aliceblue;
}
