body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

@font-face {
  font-family: "earthorbiter";
  src: local("earthorbiter"),
    url("../src/assets/fonts/earthorbiter.ttf") format("truetype");
}
